parameters:
    level: 7
    paths:
        - src
    scanDirectories:
        - vendor/spatie/laravel-responsecache/src
    tmpDir: build/phpstan
    ignoreErrors:
        -
            identifier: trait.unused
            path: src/Concerns/PurgesCloudflareCache.php
